<!-- (ngSubmit)="saverandez(f.value)" -->
<div class="bod">
<div class="container">
    <div class="main">
  <form #f="ngForm" (ngSubmit)="ajouter(f.value)" >

    <ul>
        <li>
            <h3 class="bb">Les remarque pour chaque etudiant</h3>
            <div  class="row mb-2">
                <label style="color:#0081C9;margin-top: 10px;">{{appno1.nomE + " "+ appno1.prenomE}}</label>
                <textarea  ngModel name="remarque1" id="remarque1" class="form-control"></textarea>
            </div>
            <div  class="row mb-2">
                <label style="color:#0081C9;margin-top: 10px; ">Note de presentation de {{appno1.nomE + " "+ appno1.prenomE}}</label>
                <input  ngModel name="pre1" id="pre1" class="form-control"/>   
             </div>
            <div  class="row mb-2">
                <label style="color: #0081C9;margin-top: 10px; ">{{appno2.nomE + " "+ appno2.prenomE}}</label>
                <textarea  ngModel name="remarque2" id="remarque2" class="form-control"></textarea>
            </div>
            <div  class="row mb-2">
                <label style="color: #0081C9;margin-top: 10px; ">Note de presentation de {{appno2.nomE + " "+ appno2.prenomE}}</label>
                <input  ngModel name="pre2" id="pre2" class="form-control"/>   
             </div>
        </li>
        <li>
            <ng-container *ngIf="valid.appogeT3!=null">
                <div  class="row mb-2">
                    <label style="color:#0081C9;margin-top: 10px;">{{appno3.nomE + " "+ appno3.prenomE}}</label>
                    <textarea  ngModel name="remarque3" id="remarque3" class="form-control"></textarea>
                </div>
                <div  class="row mb-2">
                    <label style="color: #0081C9;margin-top: 10px; ">Note de presentation de {{appno3.nomE + " "+ appno3.prenomE}}</label>
                    <input  ngModel name="pre3" id="pre3" class="form-control"/>   
                 </div>
                </ng-container><br>
                <h3 class="bb">La note de rapport et de l'application</h3>
                <div  class="row mb-2">
                    <label style="color:#0081C9;margin-top: 10px; ">Note de rapport</label>
                    <input  ngModel name="note" id="note" class="form-control"/>
                </div>
                <div  class="row mb-2">
                    <label style="color:#0081C9;margin-top: 10px; ">Note de l'applicalion</label>
                    <input  ngModel name="notea" id="notea" class="form-control"/>
                </div>
        </li>
    </ul>



  
    <button class="btn btn-sm btn-primary" >Envoyé les remarques</button>
</form>
</div>
</div>
</div>