
<h2 style="font-weight: bold;text-align: center;margin-top: 40px;">Espace Admin</h2>
<ul>
  <li>
    <div class="col-lg-4" id="pip1">
    
      <img (click)="goToPage()"  src="./assets/images/mill.png" class="img-circle myimg" alt="Cinque Terre" id="im">
     
      <!-- <style>
          
          .myimg{
            width: 150px;
            height: 150px;
            border-radius: 10px;
            margin-left: 300px;
            /* margin-top: 125px; */
            display: block;
            /* padding-bottom:10px; */
           
          }
      </style> -->
  
  </div>
  </li>
  <li>
    <div class="col-lg-4" id="pip2">
              
      <img  (click)="goToPage1()" src="./assets/images/logo.jpg" class="img-circle myimg1" alt="Logo" id="im1">
     
      <!-- <style>
          
          .myimg1{
            width: 150px;
            height: 150px;
            border-radius: 10px;
            margin-left: 700px;
            /* margin-top: -249px; */
            align-items: center;
            display: block;
            /* padding-bottom:10px; */
              
          }
          
          
      </style> -->
  
  </div>
  </li>
</ul>

