<div class="container">
<ng-container *ngFor="let lis of this.listOfEtudiants">
<h2 *ngIf="lis.id==this.id">Bonjour {{lis.nom}} {{lis.prenom}} bienvenue dans votre espace</h2>
</ng-container>
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button  (click)="affiche()" class="btn">
            <div class="card" style="width: 10rem;height: 10rem; background-color: #FCFFA6;">
                <img class="card-img-top" src="../assets/images/presse-papiers.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Les condaidats</h3>
                </div>
              </div>
            </button>
        </li>
        
        <li class="nav-item">
          <button  (click) = "remarque()" class="btn">
            <div class="card" style="width: 10rem;height: 10rem; background-color: #C1FFD7;">
                <img class="card-img-top" src="../assets/images/encadrement.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Espace des jurys</h3>
                </div>
              </div>
            </button>
        </li>
      
        <li class="nav-item">
          <button  (click) = "suject()" class="btn">
            <div class="card" style="width: 10rem;height: 10rem; background-color: #CAB8FF;">
                <img class="card-img-top" src="../assets/images/education.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Les sujets</h3>
                </div>
              </div>
          </button>
        </li>
        <li class="nav-item">
          <button (click) = "demande()" class="btn">
            <div class="card" style="width: 10rem;height: 10rem; background-color: #B5DEFF;">
                <img class="card-img-top" src="../assets/images/demander.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Les demandes</h3>
                </div>
              </div>
            </button>
        </li>
      </ul>
    </div>
  </nav>




<!-- <button  (click) = "updateEmployee()" class="btn btn-success">Ajouter un sujet</button><br><br> -->
<!-- <button  (click) = "mod()" class="btn btn-success">les demmende</button><br><br> -->

<!-- <button  (click)="affiche()" class="btn btn-success">Affichier les condaidats</button><br><br>
<button   (click) = "remarque()" class="btn btn-success">espace de jery</button><br><br>
<button  (click) = "suject()" class="btn btn-success">espace des sujet</button><br><br>
<button   (click) = "demande()" class="btn btn-success">espace des demande</button>
<button mat-fab extended color="primary">
    <mat-icon>favorite</mat-icon>
    Primary
  </button> -->
</div>