<div class="container">
  <h1>Espace des jurys</h1>
<table   class="mat-elevation-z8">

    <thead>
    <tr>
      <th scope="col">Nom encadrant </th>
      <th scope="col">Prenom encadrant </th>
      <th scope="col">Departement </th>
      <th scope="col">Sujet</th>
      <th scope="col">Date soutenance</th>
      <th></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <ng-container *ngFor=" let lis of listOfEtudiants " >
    <ng-container *ngFor=" let list of lis.listes " >
    <ng-container  *ngFor=" let va of list.validations ">
    <tbody *ngFor=" let gr of va.jerys">
    <tr *ngFor=" let rend of va.rendez" > 
      <td  *ngIf=" gr.idE == this.id " >{{lis.nom}}</td>
      <td *ngIf=" gr.idE== this.id" >{{lis.prenom}}</td>
      <td *ngIf=" gr.idE== this.id">{{lis.departement}}</td>
      <td *ngIf=" gr.idE== this.id ">{{list.sujet}}</td>
      <td *ngIf=" gr.idE== this.id ">{{rend.heure+" "+rend.date}}</td>
      <ng-container  *ngFor=" let lin of va.publies ">
      <td *ngIf=" gr.idE== this.id "style="color: rgb(71, 188, 238);"><a href="{{lin.link}}">lien_de_project</a></td>
      </ng-container>
      <td *ngIf=" gr.idE== this.id "><button   (click) = "ajoute(va.idv)" class="btn btn-success">Ajouter remarque</button></td>
 </tr>
</tbody>
</ng-container></ng-container>
</ng-container>
</table>
</div>