<div class="container">
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#appoge</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col">filiere</th>
        <th scope="col">delete</th>
        <th scope="col">mod</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listOfEtudiant of listOfEtudiants">
        <td>{{listOfEtudiant.appoge}}</td>
        <td>{{listOfEtudiant.nomE}}</td>
        <td>{{listOfEtudiant.prenomE}}</td>
        <td>{{listOfEtudiant.filierE}}</td>
        <td><button (click) = "deleteEmployee(listOfEtudiant.appoge)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button></td>
        <td><button (click) = "updateEmployee(listOfEtudiant.appoge)" class = "btn btn-info"> Update</button></td>
      </tr>
    </tbody>
  </table>

  <button (click) = "create()" class = "btn btn-primary"> ajouter etudiant</button>

  <!-- <button type="button" class="btn btn-primary" (click)="showAddEtudiant()" >Add etudiant</button>
  <div class="col-md-6 offset-md-3" *ngIf= "show">
  <form  autocomplete="off" (ngSubmit)="handelSubmit()" [formGroup]= "etudiantForm">
    <div class="form-group">
      <label for="exampleInputEmail1">app</label>
      <input type="text" class="form-control"   formControlName="appoge">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">nom</label>
      <input type="text" class="form-control"  formControlName="nomE">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">prenom</label>
        <input type="text" class="form-control"  formControlName="prenomE">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">fi</label>
        <input type="text" class="form-control"   formControlName="filierE">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">em</label>
        <input type="email" class="form-control"  formControlName="emaiE">
    </div>
    <div class="form-group">
      <label for="motpasE">password</label>
      <input type="password" id="motpasE" class="form-control"  ngModel name="motpasE" [(ngModel)]="login.motpasE" #motpasE="ngModel" minlength="5" required  >
      <div class="alert-alert-danger" *ngIf= "motpasE.touched && !motpasE.valid" style="color: red;border: 5px; background-color: rgb(233, 155, 155);">
          <div *ngIf= "motpasE.errors && motpasE.errors['required']">raquiiiir</div>
          <div *ngIf= "motpasE.errors && motpasE.errors['minlength']"> min is 5</div>
      </div>
    </div>
    <div class="form-group">
    <label for="confirmE">confirm password</label>
    <input type="password" id="confirmE" class="form-control"   name="confirmE"   #confirmE="ngModel" [(ngModel)]="confirm" pattern="{{login.motpasE}}"  required  >
    <div class="alert-alert-danger" *ngIf= "confirmE.touched && !confirmE.valid" style="color: red;border: 5px; background-color: rgb(233, 155, 155);">
      <div *ngIf= "confirmE.errors && confirmE.errors['pattern']">invalidd</div>
    </div>
    </div>
    <input type="submit" value="Add Tetudiant">
  </form>
</div> -->