<div class="container">
    <ul class="titre">
        <li>
            <h1 class="titrep">La liste des sujets</h1>
        </li>
        <li class="buttonl">
            <button  (click)="affiche()" class="btn btn-success">Les sujets auxquels vous êtes inscrit</button><br><br>
        </li>
    </ul>
   
     <!-- <button  (click) ="updateEmployee()" class="btn btn-success">ajouter suject</button><br><br> -->
    
    
    
    <!-- <button  (click) ="mod()" class="btn btn-success">les demmende rendez vous</button><br><br> -->
    <!-- <button   (click) ="remarque()" class="btn btn-success">espace de jery</button> -->
    


    <table class="mat-elevation-z8">
        <thead>
        <tr>
          <th scope="col">Sujet</th>
          <th scope="col">Description</th>
          <th scope="col">Nom prof</th>
          <th scope="col">Prenom prof</th>
          <th scope="col">Email prof</th>
          <th scope="col">Nombre</th>
          <!-- <th scope="col">Nombre des groupes dans ce sujet</th> -->
          <th scope="col">Action</th>
        </tr>
        </thead>
        <ng-container *ngFor=" let lis of listOfEncadrants" >
          <tbody  *ngFor="let listeId of lis.listes">
          <tr *ngIf="this.et==lis.departement" >
            <td>{{listeId.sujet}}</td>
            <td>{{listeId.desc}}</td>
            <td>{{lis.nom}}</td>
            <td>{{lis.prenom}}</td>
            <td>{{lis.email}}</td>
            <td>{{listeId.nbr}}</td>
            <!-- <td>{{this.con}}</td> -->
            <td><button (click) = "enretudiant(listeId.id)" class = "btn btn-info"> Enregistrer</button></td>
          </tr>
          </tbody>
        </ng-container>
        </table>




    
    </div>