<div class="container">


<div class="row mb-3"> 
    <h1 class="titre">Selectionner un université</h1>
    <div class="col-lg-4" id="pip1"> 
        <img  (click)="goToPage1('abed')" src="./assets/images/saadi.jpg" class="img-circle myimg" alt="Cinque Terre"> 
        <h4 style="margin-left: 10px;"><b style="color: rgb(0,174,191)">Nom université :</b>Abdelmalek essaadi</h4>  
         
        <style> 
            body{ 
                background: #eceff1 !important; 
            } 
            #bb{ 
                color:white !important; 
            } 
            .myimg{ 
            width: 220px; 
            height: 220px; 
            margin: 0 auto; 
            display: block; 
            padding-bottom:10px; 
                border-radius: 50%;  
            } 
             
            #pip1{ 
                width: 280px; 
                height: 280px; 
                border:0px solid white; 
                border-radius: 10px; 
                margin-left: 110px; 
                margin-top: 40px; 
                box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); 
                background-color:white; 
            } 
            #bom{ 
                margin:10px 0 0 250px; 
            }
        </style> 
    </div> 
    <div class="col-lg-4" id="pip2"> 
        <img  (click)="goToPage1('zohr')"  src="./assets/images/ibn.png" class="img-circle myimg" alt="Cinque Terre"> 
        <h4 style="margin-left: 10px;"><b style="color: rgb(0,174,191)">Nom université :</b>Ibn zohr</h4>  
         
        <style> 
            body{ 
                background: #eceff1 !important; 
            } 
            #bb{ 
                color:white !important; 
            } 
            .myimg{ 
            width: 220px; 
            height: 220px; 
            margin: 0 auto; 
            display: block; 
            padding-bottom:10px; 
                border-radius: 50%;  
            } 
             
            #pip2{ 
                width: 280px; 
                height: 280px; 
                border:0px solid white; 
                border-radius: 10px; 
                margin-left: 50px; 
                margin-top: 40px; 
                box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); 
                background-color:white; 
            } 
            #bom{ 
                margin:10px 0 0 250px;
            } 
 
             
        </style> 
    </div> 
    <div class="col-lg-4" id="pip3"> 
        <img  (click)="goToPage1('v')" src="./assets/images/V.jpg" class="img-circle myimg" alt="Cinque Terre"> 
        <h4 style="margin-left: 10px;"><b style="color: rgb(0,174,191)">Nom université :</b>Mohammed V agdal Rabat</h4>  
         
        <style> 
            body{ 
                background: #eceff1 !important; 
            } 
            #bb{ 
                color:white !important; 
            } 
            .myimg{ 
            width: 220px; 
            height: 220px; 
            margin: 0 auto; 
            display: block; 
            padding-bottom:10px; 
                border-radius: 50%;  
            } 
             
            #pip3{ 
                width: 280px; 
                height: 280px; 
                border:0px solid white; 
                border-radius: 10px; 
                margin-left: 50px; 
                margin-top: 40px; 
                box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); 
                background-color:white; 
            } 
            #bom{ 
                 
                margin:10px 0 0 250px; 
                 
             
            } 

        </style> 
    </div> 
</div> 
<div class="row mb-3">   
    <div class="col-lg-4" id="pip4"> 
        <img (click)="goToPage1('cadi')"  src="./assets/images/KADD.png" class="img-circle myimg" alt="Cinque Terre"> 
        <h4 style="margin-left: 10px;"><b style="color: rgb(0,174,191)">Nom université :</b>Cadi ayyad</h4>  
         
        <style> 
            body{
                background: #eceff1 !important; 
            } 
            #bb{ 
                color:white !important; 
            } 
            .myimg{ 
            width: 220px; 
            height: 220px; 
            margin: 0 auto; 
            display: block; 
            padding-bottom:10px; 
                border-radius: 50%;  
            } 
             
            #pip4{ 
                width: 280px; 
                height: 280px; 
                border:0px solid white; 
                border-radius: 10px; 
                margin-left: 110px; 
                margin-top: 50px; 
                box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); 
                background-color:white; 
            } 
            #bom{ 
                 
                margin:10px 0 0 250px; 
                 
             
            } 
             
        </style> 
    </div> 
</div>

</div>