
<div class="card mb-3"  style="margin-left: 50px;border: none;">
    <div class="row g-0">
      <div class="col-md-4"  style="width: 45%;margin-top: 20px;margin-left: 50px;">
        <img src="../assets/images/Pic.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8" style="width: 50%;">
        <div class="card-body">
          <h5 class="card-title">Bienvenue <br><br> dans notre site</h5>
          <p class="card-text"><br> Ce site vous permettra de choisir le sujet sur lequel <br> vous souhaitez travailler pour votre projet de fin d'étude</p>
        </div>
        <div class="row g-8" style="margin-left: 10px;">
          <div class="col-md-2"  style="margin-right: 10px;">
            <button type="button" (click)="liste()" class="btn btn-warning">Commencer</button>
          </div>
          <div class="col-md-4">
            <button type="button" (click)="affiche()" class="btn btn-outline-warning">Pour l'dmin</button>
          </div>
        </div>
      </div>
    </div>
  </div>